#menu-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    color: white;
    text-align: center;
    cursor: default;
    letter-spacing: 20px;
}

#modal-container {
    position: absolute;
    border: 1px white solid;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
    z-index: 1;
}

#confirmation-sentence {
    color: white;
    text-align: center;
    margin: 20px auto auto auto;
    width: 90%;
}

#options-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -14%);
    gap: 20px;
}

.option {
    width: 50%;
    border: 1px white solid;
    border-radius: 12px;
    color: white;
}

#new-game-video-container {
    display: flex;
    flex-direction: row;
}

#video-container {
    display: flex;
    flex: 1;
    margin-right: 50px;
}

#madame-video {
    border-radius: 5px;
    width: 100%;
}

#new-game-title {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 72px;
    margin: 50px;
}

#new-game-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #new-game-video-container {
        display: flex;
        flex-direction: column;
    }

    #madame-video {
        position: fixed;
        display: flex;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: 0;
    }

    #new-game-container {
        display: flex;
        background-color: transparent;
        flex-direction: column;
        text-align: center;
        z-index: 1;
    }

    #new-game-title {
        font-size: 32px;
    }

    #title {
        position: fixed;
        top: 0;
        z-index: 1;
    }
}

/*@media screen and (min-width: 600px) {*/
/*}*/

/*@media screen and (min-width: 900px) {*/
/*}*/

@media screen and (max-width: 1500px) {
    #madame-video {
        border-radius: 5px;
        width: 60%;
    }

    #video-container {
        display: flex;
        margin-right: 0;
    }

    #new-game-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: auto;
    }

    #new-game-title {
    }

    #title {
    }
}
